@import url(layui/layui-btn-cover.css);
@import url(layui/table.css);
@import url(form.css);
@import url(form-ext.css);
@import url(page.css);
.l-form-msg{
	padding:5px 3px;
	margin:0px;
}

body{
	padding:0px;
	padding-right:0px;
}
/* 侧边或底部普遍采用的颜色 */
.toolbar-bg{
	background:#2F4056;color:#fefefe;
	padding-top:10px;padding-bottom:8px;
	margin-bottom:3px;
}
body div.l-main{
	padding:0px 3px;
}
body div.l-main .layui-form-item{
	margin-bottom:2px;
}

.f-index-toolbar{
	background:#ffffff;
	padding:10px 10px 0px 10px;
	border:0;
}

.f-index-table {
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    border: 0;
}

.button-height{
	height:30px;
}
.block-center{
	text-align:center;margin-left:-100px;
}
span.layui-breadcrumb a.item-this{
	background:black;
    color: rgb(255,255,255);
}
/* 修改默认头工具栏 */
.layui-table-tool{
	background:#f2f2f2;
	padding:0px 0px 2px 0px;
	border-bottom:1px solid #e1e1e1;
	min-height: 30px;
}
.layui-table-tool-self {
    position: absolute;
    right: 17px;
    top: 0px;
}
.layui-table-tool .layui-inline[lay-event] {
    width: 30px;
    height: 30px;
    color: #efe9e9;
    background-color: #1e9fff;
}
.layui-table-tool-panel{
	color: #1e9fff;
}
 
 
/*表单按钮
#submitBtn{
	border-radius: 3px;
    height: 35px;
    line-height: 35px;
    padding: 0 14px;
}*/
 
 #closeWinBtn{
	border-radius: 3px;
}


 .otherFormBtn{
	border-radius: 3px;
    height: 35px;
    line-height: 35px;
    padding: 0 14px;
}
 
 
 .layui-form-checked[lay-skin=primary] i {
    border-color: #4f68e0!important;
    background-color: #343a40;
    color: #fff;
}


.layui-tab-brief>.layui-tab-title .layui-this {
    font-weight: 600 !important;
}


.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #343a40;
}


/*高度自适应*/
.heightAuto{
	height: auto !important;
}

.paddingTop0{
	padding-top:0px !important;
}

.layui-layer-title {
    background-color: #ffffff !important;
}

.layui-tab-card>.layui-tab-title .layui-this:after {
    border-top: none;
    border-width: 1px;
    border-bottom-color: #fff;
    height: auto;
    border: 0;
}
.layui-tab-card>.layui-tab-title .layui-this{
	border-radius: 0;
    height: 40px;
    line-height: 40px;
}

.layui-tab-card>.layui-tab-content{
	background: #ffffff;
}


